# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json

# Logs
logs
*.log
*.log.*
pids
*.pid
*.seed
*.pid.lock

# Environment variables
.env
.env.*.local

# Build and runtime output
dist/
build/
.cache/
.tmp/
coverage/

# OS files
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml
.docker/
*.tgz

# Jest / Testing
jest-cache/
jest-html-reporters-*
coverage-final.json

# Misc
*.swp
*.swo
.idea/
.vscode/
