version: '3.8'

services:
  # DB
  mongodb:
    image: mongo:6.0
    container_name: srm-mongodb
    restart: unless-stopped
    volumns:
      - mongo-data:/data/db
    networks:
      - srm-network
    # limit memory usage
    deploy:
      resources:
        limits:
          memory: 512M
    # Maintenance: rotate logs
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  # Backend
  Backend:
    build: ./backend
    container_name: srm-backend
    restart: unless-stopped
    depends_on:
      - mongodb
    environment:
      # Internal Config
      - PORT=5000
      - MONGODB_URI=${MONGODB_URI}
      # Security Secrets from .env
      - JWT_ACCESS_SECRET=${JWT_ACCESS_SECRET}
      - JWT_AGENT_SECRET=${JWT_AGENT_SECRET}
      # CORS
      - CORS_ORIGIN=${CORS_ORIGIN}
    ports:
      # Maps VPS Port 5002 -> Container Port 5000
      - "${BACKEND_HOST_PORT:-5002}:5000"
    networks:
      - srm-network
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  # Frontend
  frontend: 
    build: ./frontend
    container_name: srm-frontend
    restart: unless-stopped
    depends_on:
      - backend
    environment:
      - API_BASE_URL=${API_BASE_URL}
      - WS_BASE_URL=${WS_BASE_URL}
    ports:
      # Maps VPS port 8082 -> Container Port 80
      - "${FRONTEND_HOST_PORT:-8082}:80"
    networks:
      - srm-network
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
volumes:
  mongo-data:
  
networks:
  srm-network:
    driver: bridge