[Unit]
Description=Server Monitor Agent
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/srm-agent
EnvironmentFile=-/etc/srm-agent/config.env
Environment=NODE_ENV=production

Restart=always
RestartSec=10
User=srm-agent
Group=srm-agent



[Install]
WantedBy=multi-user.target