name: Agent Release

on:
    push:
        tags:
            - 'agent-v*'

jobs:
    build-and-release:
        runs-on: ubuntu-latest
        permissions:
            contents: write

        steps:
            - name: Checkout Code
              uses: actions/checkout@v4

            - name: Extract Version
              id: get_version
              run: echo "VERSION=${GITHUB_REF#refs/tags/agent-v}" >> $GITHUB_OUTPUT

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                node-version: '18'
                cache: 'npm'
                cache-dependency-path: './agent/package-lock.json'

            - name: Install Dependencies
              working-directory: ./agent
              run: npm ci

            - name: Run Vitest Units
              working-directory: ./agent
              run: npm test

            - name: Build Standalone Binary
              working-directory: ./agent
              run: |
                VERSION=${{ steps.get_version.outputs.VERSION }}

                mkdir -p bin dist

                # Injecting version into version.txt
                echo "$VERSION" >  src/version.txt

                # Building binaries for Linux and Windows
                npx pkg . --targets node18-linux-x64,node18-win-x64 --out-path ./bin/

                mv ./bin/srm-agent-linux ./bin/srm-agent
                mv ./bin/srm-agent-win.exe ./bin/srm-agent.exe

            - name: Package Windows Bundle (.zip)
              working-directory: ./agent
              run: |
                VERSION=${{ steps.get_version.outputs.VERSION }}
                mkdir -p windows-bundle
                cp ./bin/srm-agent.exe config.json.template scripts/register.ps1 windows-bundle/

                cd windows-bundle
                zip -r ../dist/srm-agent-v$VERSION-windows-amd64.zip .

            - name: Build Linux Package (.deb)
              working-directory: ./agent
              env:
                VERSION: ${{ steps.get_version.outputs.VERSION }}
              run: |
                # Install nfpm
                echo 'deb [trusted=yes] https://repo.goreleaser.com/apt/ /' | sudo tee /etc/apt/sources.list.d/goreleaser.list
                sudo apt-get update
                sudo apt-get install -y nfpm

                # verify installation
                nfpm --version

                # Build .deb package
                nfpm package --config nfpm.yaml --target ./dist/ --packager deb

            - name: Create GitHub Release
              uses: softprops/action-gh-release@v1
              with:
                name: Agent Release ${{ steps.get_version.outputs.VERSION }}
                draft: false
                prerelease: false
                files: |
                    agent/dist/*.deb
                    agent/dist/*.zip
                    agent/install.sh
                    agent/install.ps1