name: Build and Publish Docker Images

on:
    push:
        branches: [ "main" ]

env:
    REGISTER: ghcr.io
    IMAGE_NAME: "${{ github.repository }}"
    
jobs:
    build-and-push:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: write
        
        strategy:
            matrix:
              service: [backend, frontend]

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Log into container registery
              uses: docker/login-action@v3
              with:
                registry: ghcr.io
                username: ${{ github.actor }}
                password: ${{ secrets.GITHUB_TOKEN }}

            - name: Extract metadata (tags, labels)
              id: meta
              uses: docker/metadata-action@v5
              with:
                images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}/${{ matrix.service }}
                tags: |
                    type=raw,value=latest
                    type=sha,format=long

            - name: Build and Push docker image
              uses: docker/build-push-action@v5
              with:
                context: "./${{ matrix.service }}"
                push: true
                tags: ${{ steps.meta.outputs.tags }}
                labels: ${{ steps.meta.outputs.labels }}